*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}



body{
    font-family: 'Times New Roman', Times, serif;
    background-image: url(old-trafford.jpg);
    -webkit-background-size:cover;
    background-size: cover;
    background-position: center center;
    height: 100vh;
}
.container{
    height: 330px;
    width: 1010px;
    position: absolute;
    top:50%;
    left: 50%;
    transform:  translateX(-50%) translateY(-50%);
    border: 1px solid #832803;
    background: rgba(255, 255, 255, .5) ;
    box-shadow: 0 0 8px 3px rgb(153, 149, 149);
    padding-left: 10px;
    visibility: visible;
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 22rem;
    
}
.title{
    padding-top: 20px;
    text-align: center;
    font-size: 36px;
    text-transform: uppercase;
    color: #141322;
    font-weight: bolder;
}
.question{
    padding: 20px;
    font-size: 22px;
    background: rgba(0, 0, 0, 0.74);
    border-radius: 20px;
    margin: 10px 0 10px 0;
    color: #f6f6f6;
    width: 987px;
    
}

 /* .option{
    width: 490px;
    display: inline-block;
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
    vertical-align: middle;
    background: rgba(255, 255, 255, .5);
    color: #000000;
    border-radius: 20px;
} 
.option:hover {
    background-color: rgb(253, 1, 1);
    color: #f6f6f6;
    transition-duration: 1s;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
} */


.next-btn{
    border: none;
    outline: none;
    background: rgba(255, 255, 255, .5);
    width: 120px;
    height: 30px;
    cursor:pointer;
    float: right;
    margin: 20px;
    border-radius: 10px;
    font-size: 16px;
    padding: 5px;
    text-align: center;
    font-weight: bolder;
    
}
.next-btn:hover{
    background:green;
    color: #f6f6f6;
    cursor: pointer;
    transition-duration: .5s;
    font-weight: bolder;

}
#nextQuestion{
visibility: visible;
}

#result{
    height: 100px;
    text-align: center;
    font-size: 54px;
    visibility: none;
    background: rgb(64, 126, 6);
    padding-top: 20px;
    color: white;
    visibility: hidden;
    border: none;
    box-shadow: 0 0 10px 10px #f6f6f6;
    padding-bottom: 150px;
    /* overflow: auto; */
}
/* .option input:checked .option{
    background: #08038C;
    color: #000;
} */
#nextQuestion{
    border-radius: 15px;
    transition-duration: .5s;
    
}


.option {
    
    text-align: center;
    width: 490px;
    display: inline-block;
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
    vertical-align: middle;
    background: rgba(255, 255, 255, .5);
   
    color: #000000;
    border-radius: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
} 
.option1, .option2, .option3, .option4{
    text-align: center;
    width: 490px;
    display: inline-block;
    padding: 10px 0 10px 0;
    margin: 10px 0 10px 0;
    vertical-align: middle;
    background-color: rgba(255, 255, 255, .5);
    color: #000000;
    border-radius: 20px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}


 .option:hover{
    color: black;
    background-color: green;
    
    transition-duration: .5s;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
    
} 

/* .option:focus-within{
    
    background-color: green;
    color: black;
    transition-duration: .5s;
    font-size: 25px;
    font-weight: bolder;
    cursor: pointer;
    
} */
input[type="radio"]{ 
    /* display: none; */
    /* visibility: hidden; */
    /* opacity: 0; */
    position: absolute;
    left:-9999px;
 } 
.option input[type="radio"]{
    background-color: green;
    opacity: 0;
}

